body {
  background-color: #FFF0F5;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}
.imagem{
  justify-content: center;
  display: flex;
}


img {
  width: 85%;
  height: auto;

  margin-bottom: 20px;

}

h1 {
  color: #912268;
  font-size: 36px;
  margin-bottom: 10px;
}

h3 {
  color: #912268;
  font-size: 24px;
  margin-bottom: 20px;
}

fieldset {
color: #BD378C;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset label{
    color: black;
}

.cartao{
    height: 700px;
    border: 4px solid #BD378C;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    width: 320px;
    background-color: rgba(242, 211, 227, 0.57);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0,3s ease, box-shadow 0,3s ease;
    text-align: center;
    text-overflow: ellipsis;
}

.cartao:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.cartao img{
    width: 50%;
    height: 250px;
    border-radius: 8px;
}

.cartao p {
    width: 100%;
    height: 5%;
    text-align: justify;
    text-overflow: ellipsis;
}

header{
    background-color: rgb(226, 111, 174);
    color:antiquewhite;
    padding: 10px 0;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul a{
    color: #80225d;
    text-decoration: none;
}

nav ul li{
    display: inline;
    margin:0 10px;
}

.card {
  background: linear-gradient(to bottom, #de1ca4, #bd3298, #cd3791);
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

legend {
  font-weight: bold;
  font-size: 18px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

hr {
  border: 1px solid #ED6E2D;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

h4 {
  color: #BD378C;
  font-size: 18px;
  margin-bottom: 10px;
}


h5 {
  color: #BD378C;
  font-size: 16px;
  margin-bottom: 10px;
}